/* "Graphik-Medium" */

/* @font-face {
  font-family: "Graphik";
  font-weight: 500;
  font-style: normal;
  src: url("Graphik/Graphik-Medium.eot");
  src: url("Graphik/Graphik-Medium.eot?#iefix") format("embedded-opentype"),
    url("Graphik/Graphik-Medium.woff2") format("woff2"),
    url("Graphik/Graphik-Medium.woff") format("woff"),
    url("Graphik/Graphik-Medium.ttf") format("truetype");
} */

/* "Graphik-Semibold" */

/* @font-face {
  font-family: "Graphik";
  font-weight: 600;
  font-style: normal;
  src: url("Graphik/Graphik-Semibold.eot");
  src: url("Graphik/Graphik-Semibold.eot?#iefix") format("embedded-opentype"),
    url("Graphik/Graphik-Semibold.woff2") format("woff2"),
    url("Graphik/Graphik-Semibold.woff") format("woff"),
    url("Graphik/Graphik-Semibold.ttf") format("truetype");
} */

/* "Graphik-Bold" */

/* @font-face {
  font-family: "Graphik";
  font-weight: 700;
  font-style: normal;
  src: url("Graphik/Graphik-Bold.eot");
  src: url("Graphik/Graphik-Bold.eot?#iefix") format("embedded-opentype"),
    url("Graphik/Graphik-Bold.woff2") format("woff2"),
    url("Graphik/Graphik-Bold.woff") format("woff"),
    url("Graphik/Graphik-Bold.ttf") format("truetype");
} */

/* "BrandonText-Thin" */

@font-face {
  font-family: "BrandonText";
  font-weight: 100;
  font-style: normal;
  src: url("BrandonText/brandon_text_thin.eot");
  src: url("BrandonText/brandon_text_thin.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_thin.woff2") format("woff2"),
    url("BrandonText/brandon_text_thin.woff") format("woff"),
    url("BrandonText/brandon_text_thin.ttf") format("truetype"),
    url("BrandonText/brandon_text_thin.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Thin-Italic" */

@font-face {
  font-family: "BrandonText";
  font-weight: 100;
  font-style: italic;
  src: url("BrandonText/brandon_text_thin_italic.eot");
  src: url("BrandonText/brandon_text_thin_italic.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_thin_italic.woff2") format("woff2"),
    url("BrandonText/brandon_text_thin_italic.woff") format("woff"),
    url("BrandonText/brandon_text_thin_italic.ttf") format("truetype"),
    url("BrandonText/brandon_text_thin_italic.svg?52t6nz#BrandonText")
      format("svg");
}

/* "BrandonText-Light" */

@font-face {
  font-family: "BrandonText";
  font-weight: 300;
  font-style: normal;
  src: url("BrandonText/brandon_text_light.eot");
  src: url("BrandonText/brandon_text_light.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_light.woff2") format("woff2"),
    url("BrandonText/brandon_text_light.woff") format("woff"),
    url("BrandonText/brandon_text_light.ttf") format("truetype"),
    url("BrandonText/brandon_text_light.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Light-Italic" */

@font-face {
  font-family: "BrandonText";
  font-weight: 300;
  font-style: italic;
  src: url("BrandonText/brandon_text_light_italic.eot");
  src: url("BrandonText/brandon_text_light_italic.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_light_italic.woff2") format("woff2"),
    url("BrandonText/brandon_text_light_italic.woff") format("woff"),
    url("BrandonText/brandon_text_light_italic.ttf") format("truetype"),
    url("BrandonText/brandon_text_light_italic.svg?52t6nz#BrandonText")
      format("svg");
}

/* "BrandonText" */

@font-face {
  font-family: "BrandonText";
  font-weight: 400;
  font-style: normal;
  src: url("BrandonText/brandon_text.eot");
  src: url("BrandonText/brandon_text.eot?#iefix") format("embedded-opentype"),
    url("BrandonText/brandon_text.woff2") format("woff2"),
    url("BrandonText/brandon_text.woff") format("woff"),
    url("BrandonText/brandon_text.ttf") format("truetype"),
    url("BrandonText/brandon_text.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Italic" */

@font-face {
  font-family: "BrandonText";
  font-weight: 400;
  font-style: italic;
  src: url("BrandonText/brandon_text_italic.eot");
  src: url("BrandonText/brandon_text_italic.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_italic.woff2") format("woff2"),
    url("BrandonText/brandon_text_italic.woff") format("woff"),
    url("BrandonText/brandon_text_italic.ttf") format("truetype"),
    url("BrandonText/brandon_text_italic.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Medium" */

@font-face {
  font-family: "BrandonText";
  font-weight: 500;
  font-style: normal;
  src: url("BrandonText/brandon_text_medium.eot");
  src: url("BrandonText/brandon_text_medium.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_medium.woff2") format("woff2"),
    url("BrandonText/brandon_text_medium.woff") format("woff"),
    url("BrandonText/brandon_text_medium.ttf") format("truetype"),
    url("BrandonText/brandon_text_medium.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Medium-Italic" */

@font-face {
  font-family: "BrandonText";
  font-weight: 500;
  font-style: italic;
  src: url("BrandonText/brandon_text_medium_italic.eot");
  src: url("BrandonText/brandon_text_medium_italic.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_medium_italic.woff2") format("woff2"),
    url("BrandonText/brandon_text_medium_italic.woff") format("woff"),
    url("BrandonText/brandon_text_medium_italic.ttf") format("truetype"),
    url("BrandonText/brandon_text_medium_italic.svg?52t6nz#BrandonText")
      format("svg");
}

/* "BrandonText-Bold" */

@font-face {
  font-family: "BrandonText";
  font-weight: 700;
  font-style: normal;
  src: url("BrandonText/brandon_text_bold.eot");
  src: url("BrandonText/brandon_text_bold.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_bold.woff2") format("woff2"),
    url("BrandonText/brandon_text_bold.woff") format("woff"),
    url("BrandonText/brandon_text_bold.ttf") format("truetype"),
    url("BrandonText/brandon_text_bold.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Bold-Italic" */

@font-face {
  font-family: "BrandonText";
  font-weight: 700;
  font-style: italic;
  src: url("BrandonText/brandon_text_bold_italic.eot");
  src: url("BrandonText/brandon_text_bold_italic.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_bold_italic.woff2") format("woff2"),
    url("BrandonText/brandon_text_bold_italic.woff") format("woff"),
    url("BrandonText/brandon_text_bold_italic.ttf") format("truetype"),
    url("BrandonText/brandon_text_bold_italic.svg?52t6nz#BrandonText")
      format("svg");
}

/* "BrandonText-Black" */

@font-face {
  font-family: "BrandonText";
  font-weight: 900;
  font-style: normal;
  src: url("BrandonText/brandon_text_black.eot");
  src: url("BrandonText/brandon_text_black.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_black.woff2") format("woff2"),
    url("BrandonText/brandon_text_black.woff") format("woff"),
    url("BrandonText/brandon_text_black.ttf") format("truetype"),
    url("BrandonText/brandon_text_black.svg?52t6nz#BrandonText") format("svg");
}

/* "BrandonText-Black-Italic" */

@font-face {
  font-family: "BrandonText";
  font-weight: 900;
  font-style: italic;
  src: url("BrandonText/brandon_text_black_italic.eot");
  src: url("BrandonText/brandon_text_black_italic.eot?#iefix")
      format("embedded-opentype"),
    url("BrandonText/brandon_text_black_italic.woff2") format("woff2"),
    url("BrandonText/brandon_text_black_italic.woff") format("woff"),
    url("BrandonText/brandon_text_black_italic.ttf") format("truetype"),
    url("BrandonText/brandon_text_black_italic.svg?52t6nz#BrandonText")
      format("svg");
}

/* "Radical-Ultrathin" */

@font-face {
  font-family: "Radikal";
  font-weight: 100;
  font-style: normal;
  src: url("Radikal/radikal_ultrathin.eot");
  src: url("Radikal/radikal_ultrathin.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_ultrathin.woff2") format("woff2"),
    url("Radikal/radikal_ultrathin.woff") format("woff"),
    url("Radikal/radikal_ultrathin.ttf") format("truetype"),
    url("Radikal/radikal_ultrathin.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Ultrathin-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 100;
  font-style: italic;
  src: url("Radikal/radikal_ultrathin_italic.eot");
  src: url("Radikal/radikal_ultrathin_italic.eot?#iefix")
      format("embedded-opentype"),
    url("Radikal/radikal_ultrathin_italic.woff2") format("woff2"),
    url("Radikal/radikal_ultrathin_italic.woff") format("woff"),
    url("Radikal/radikal_ultrathin_italic.ttf") format("truetype"),
    url("Radikal/radikal_ultrathin_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Thin" */

@font-face {
  font-family: "Radikal";
  font-weight: 200;
  font-style: normal;
  src: url("Radikal/radikal_thin.eot");
  src: url("Radikal/radikal_thin.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_thin.woff2") format("woff2"),
    url("Radikal/radikal_thin.woff") format("woff"),
    url("Radikal/radikal_thin.ttf") format("truetype"),
    url("Radikal/radikal_thin.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Thin-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 200;
  font-style: italic;
  src: url("Radikal/radikal_thin_italic.eot");
  src: url("Radikal/radikal_thin_italic.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_thin_italic.woff2") format("woff2"),
    url("Radikal/radikal_thin_italic.woff") format("woff"),
    url("Radikal/radikal_thin_italic.ttf") format("truetype"),
    url("Radikal/radikal_thin_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Light" */

@font-face {
  font-family: "Radikal";
  font-weight: 300;
  font-style: normal;
  src: url("Radikal/radikal_light.eot");
  src: url("Radikal/radikal_light.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_light.woff2") format("woff2"),
    url("Radikal/radikal_light.woff") format("woff"),
    url("Radikal/radikal_light.ttf") format("truetype"),
    url("Radikal/radikal_light.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Light-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 300;
  font-style: italic;
  src: url("Radikal/radikal_light_italic.eot");
  src: url("Radikal/radikal_light_italic.eot?#iefix")
      format("embedded-opentype"),
    url("Radikal/radikal_light_italic.woff2") format("woff2"),
    url("Radikal/radikal_light_italic.woff") format("woff"),
    url("Radikal/radikal_light_italic.ttf") format("truetype"),
    url("Radikal/radikal_light_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Radical" */

@font-face {
  font-family: "Radikal";
  font-weight: 400;
  font-style: normal;
  src: url("Radikal/radikal.eot");
  src: url("Radikal/radikal.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal.woff2") format("woff2"),
    url("Radikal/radikal.woff") format("woff"),
    url("Radikal/radikal.ttf") format("truetype"),
    url("Radikal/radikal.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 400;
  font-style: italic;
  src: url("Radikal/radikal_italic.eot");
  src: url("Radikal/radikal_italic.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_italic.woff2") format("woff2"),
    url("Radikal/radikal_italic.woff") format("woff"),
    url("Radikal/radikal_italic.ttf") format("truetype"),
    url("Radikal/radikal_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Medium" */

@font-face {
  font-family: "Radikal";
  font-weight: 500;
  font-style: normal;
  src: url("Radikal/radikal_medium.eot");
  src: url("Radikal/radikal_medium.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_medium.woff2") format("woff2"),
    url("Radikal/radikal_medium.woff") format("woff"),
    url("Radikal/radikal_medium.ttf") format("truetype"),
    url("Radikal/radikal_medium.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Medium-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 500;
  font-style: italic;
  src: url("Radikal/radikal_medium_italic.eot");
  src: url("Radikal/radikal_medium_italic.eot?#iefix")
      format("embedded-opentype"),
    url("Radikal/radikal_medium_italic.woff2") format("woff2"),
    url("Radikal/radikal_medium_italic.woff") format("woff"),
    url("Radikal/radikal_medium_italic.ttf") format("truetype"),
    url("Radikal/radikal_medium_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Bold" */

@font-face {
  font-family: "Radikal";
  font-weight: 700;
  font-style: normal;
  src: url("Radikal/radikal_bold.eot");
  src: url("Radikal/radikal_bold.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_bold.woff2") format("woff2"),
    url("Radikal/radikal_bold.woff") format("woff"),
    url("Radikal/radikal_bold.ttf") format("truetype"),
    url("Radikal/radikal_bold.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Bold-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 700;
  font-style: italic;
  src: url("Radikal/radikal_bold_italic.eot");
  src: url("Radikal/radikal_bold_italic.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_bold_italic.woff2") format("woff2"),
    url("Radikal/radikal_bold_italic.woff") format("woff"),
    url("Radikal/radikal_bold_italic.ttf") format("truetype"),
    url("Radikal/radikal_bold_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Black" */

@font-face {
  font-family: "Radikal";
  font-weight: 900;
  font-style: normal;
  src: url("Radikal/radikal_black.eot");
  src: url("Radikal/radikal_black.eot?#iefix") format("embedded-opentype"),
    url("Radikal/radikal_black.woff2") format("woff2"),
    url("Radikal/radikal_black.woff") format("woff"),
    url("Radikal/radikal_black.ttf") format("truetype"),
    url("Radikal/radikal_black.svg?52t6nz#Radikal") format("svg");
}

/* "Radical-Black-Italic" */

@font-face {
  font-family: "Radikal";
  font-weight: 900;
  font-style: italic;
  src: url("Radikal/radikal_black_italic.eot");
  src: url("Radikal/radikal_black_italic.eot?#iefix")
      format("embedded-opentype"),
    url("Radikal/radikal_black_italic.woff2") format("woff2"),
    url("Radikal/radikal_black_italic.woff") format("woff"),
    url("Radikal/radikal_black_italic.ttf") format("truetype"),
    url("Radikal/radikal_black_italic.svg?52t6nz#Radikal") format("svg");
}

/* "Icomoon" */

/* @font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("Icomoon/icomoon.eot");
  src: url("Icomoon/icomoon.eot?#iefix") format("embedded-opentype"),
    url("Icomoon/icomoon.woff") format("woff"),
    url("Icomoon/icomoon.ttf") format("truetype"),
    url("Icomoon/icomoon.svg?52t6nz#icomoon") format("svg");
} */

/* "NimbusSansDOT-Regu" */

/* @font-face {
  font-family: "NimbusSansDOT-Regu";
  font-weight: normal;
  font-style: normal;
  src: url("NimbusSans/NimbusSansDOT-Regu.ttf") format("truetype");
} */

/* "PTSerif regular" */

/* @font-face {
  font-family: "PTSerif";
  font-weight: normal;
  font-style: normal;
  src: url("PT_Serif/PT_Serif-Web-Regular.ttf") format("truetype");
} */

/* "PTSerif italic" */

/* @font-face {
  font-family: "PTSerif";
  font-weight: normal;
  font-style: normal;
  src: url("PT_Serif/PT_Serif-Web-Italic.ttf") format("truetype");
} */

/* "PTSerif italic bold" */

/* @font-face {
  font-family: "PTSerif";
  font-weight: normal;
  font-style: normal;
  src: url("PT_Serif/PT_Serif-Web-BoldItalic.ttf") format("truetype");
} */

/* "PTSerif bold" */

/* @font-face {
  font-family: "PTSerif";
  font-weight: normal;
  font-style: normal;
  src: url("PT_Serif/PT_Serif-Web-Bold.ttf") format("truetype");
} */

/* "BrandonGrotesque" */

/* @font-face {
  font-family: "BrandonGrotesque";
  font-weight: normal;
  font-style: normal;
  src: url("BrandonGrotesque/brandon-grotesque-light.otf") format("truetype");
} */

/* Radikal W01 */

/* @font-face {
  font-family: "RadikalW01-Light";
  font-weight: normal;
  font-style: normal;
  src: url("RadikalW01/Radikal-W01-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RadikalW01-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("RadikalW01/RadikalW01-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RadikalW01-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("RadikalW01/Radikal-W01-Medium.ttf") format("truetype");
} */
